#ifndef CONFIG_H
#define CONFIG_H

#include <Arduino.h>

// SSID of the WiFi network
#define SSID "ssid"
// Password of the WiFi network
#define PASSWORD "password"
// IP to be statically set by the ESP client
#define BASE_URL "http://192.168.0.1"

#endif